
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #070B17;
	font-family: 'Montserrat', sans-serif;
	display: flex;
	justify-content: flex-start;
}

.menu {
	width: 16vw;
	height: 100vh;
	background-color: #191D29;
	margin-left: 8vw;
	-webkit-box-shadow: -5px 0px 5px 0px rgba(0, 0, 0, 0.38);
	-moz-box-shadow:    -5px 0px 5px 0px rgba(0, 0, 0, 0.38);
	box-shadow:         -5px 0px 5px 0px rgba(0, 0, 0, 0.38);
	padding: 2em 2em;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	color: white;
}

.profile-picture {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: gray;
	margin-bottom: 1.5em;
}

.menu p{
	margin: 3px 0;
	padding: 0;
	letter-spacing: 1px;
	font-size: 1.2em;
}

.menu .cargo {
	font-size: .9em;
	opacity: .6;
}

.menu hr {
	margin-top: 2em;
	width: 100%;
	opacity: .5;
}


.menu-links {
	width: 100%;
	height: 400px;
	background-color: transparent; /*#191D29;*/
	transform: translateX(-70px);
	display: flex;
	justify-content: center;

}

.menu-links ul {
	list-style-type: none;
}

.menu-links ul li a {
	display: block;
	padding: 1em;
	text-decoration: none;
	color: white;
	transform: translateX(5px);
	opacity: .7;
}

.menu-links ul .selected a{
	opacity: 1;
}

.menu-links ul li ul {
	display: block;
	margin: 0;
	padding: 0;
}

.menu-links ul li ul li a{
	margin-left: 1em;
	color: #D5753B;
}


/* Top Menu */
.right {
	width: 76vw;
	min-height: 100vh;
	background-color: #181C28;
	display: flex;
	flex-direction: column;
	z-index: 2;
	-webkit-box-shadow: -5px 0px 5px 0px rgba(0, 0, 0, 0.38);
	-moz-box-shadow:    -5px 0px 5px 0px rgba(0, 0, 0, 0.38);
	box-shadow:         -5px 0px 5px 0px rgba(0, 0, 0, 0.38);
	color: white;
}

.right .top-menu {
	width: 100%;
	height: 12vh;
	background-color: #070B17;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.right .top-menu button {
	margin-right: 2em;
}


.main-content {
	width: 100%;
	height: 100%;
	padding: 1em;
}

