
.single-header {
  width: 90%;
  padding-bottom: 3em;
}

.single-header .single-btns .saida-btn {
  padding: 0 0 2em 0;
  color: white;
}

.single-header .single-btns .saida-btn button{
  background-color: #37AEA7;
  border: none;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 14px;
  margin: 1px 1px;
}

.single-header .single-btns .danger button{
  background-color: #831919;
}

.single-header .single-btns .saida-btn button:hover {
  background-color: #699D9A;
}

.single-header .single-btns .danger button:hover{
  background-color: #A81818;
}

.single-header button:disabled {
  background-color: #272D40 !important;
  color: #72706c !important;
}

.historico-modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255,255,255,.4);
  z-index: 1000;
}

.historico-modal .card {
  width: 50vw;
  height: 50vh;
  background-color: white;
  position: fixed;
  left: 20vw;
  top: 5em;
  padding: 1em;
}

.historico-modal .card .card-close {
  width: 20%;
  color: black;
  cursor: pointer;
  position: relative;
  left: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.historico-modal .card .card-header {
  color: black;
}

.historico-modal .card .card-body {
  width: 80%;
  color: black;
}


/* Tabela do Modal Histórico */

.zui-table {
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
}
.zui-table thead th {
    background-color: #DDEFEF;
    border: solid 1px #DDEEEE;
    color: #336B6B;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}
.zui-table tbody td {
    border: solid 1px #DDEEEE;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
}